@charset "UTF-8";

.disabled { display: none; }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body > div {
    position: relative;
    width: 800px;
    height: 100vh;
    margin: 0 auto;
}

main#login { padding-top: 20vh; }
main#login > form {
    display: flex;
    justify-content: center;
}
main#login > form > label { padding-right: 1rem; }

main#chatbase {
    padding: 2rem 0;
    overflow-y: auto;
}
main#chatbase ul#chatbase_text {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#chatbase_text li {
    margin: 0;
    padding: .5rem 0;
    border-bottom: 1px solid #ccc;
}
ul#chatbase_text li article { display: flex; }
ul#chatbase_text li article h1 { font-size: 1rem; }
ul#chatbase_text li article h1 > code {
    display: block;
    font-size: .5rem;
    color: #999;
}


footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: inherit;
    background: #fff;
    padding: .5rem 0;
    border-top: 1px dashed #000;
}
footer > form {
    display: flex;
    justify-content: space-around;
}
footer > form > input[type="text"] { width: 45rem; }